<% layout("/layouts/boilerplate") %>
<body>
    <h1>User can trac their investment</h1>
    <p>it's like todo list or alarm. User will keep investment tracks and reminders</p>
    <div>
        <form action="/" method="get">
            <button type="submit" class="home">Home</button>
        </form>
    </div>
</body>
