<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link rel="stylesheet" href="/investmentTracker.css">
<body>
    <h3>Track your investment</h3>
    <% if(investments.length == 0){%>
        <h6>Yet to add any</h6>
    <%} else {%>
    <%}%>
    <button id="show-form-btn">Add</button>
    <hr />
    <form id="add-form" class="hidden" method="post" action="/investment/<%=user._id%>/add">
        <label for="investmentName">Name of your investment</label><br>
        <textarea name="investmentName" rows="0" cols="50" maxlength="200" required></textarea><br><br>
        <label for="investmentType">Type of your investment</label><br>
        <select name="investmentType" required>
            <option value="Bonds">Bonds</option>
            <option value="Stocks">Stocks</option>
            <option value="Mutual Fund">Mutual Fund</option>
            <option value="ETFs">Exchange-Traded Funds</option>
            <option value="Fixed Deposit">Fixed Deposite</option>
            <option value="Real Estate">Real Estate</option>
            <option value="Gold & Silver">Gold & Silver</option>
            <option value="Collectibles">Collectibles</option>
            <option value="Cryptocurrency">Cryptocurrency</option>
            <option value="REITs">Real Estate Investment Trusts</option>
            <option value="Peer-to-Peer">Lending someone</option>
            <option value="Index Funds">Index Funds</option>
            <option value="Education/Course">Education/Course</option>
            <option value="Satrting Business">Starting Business</option>
        </select><br><br>
        <lable for="investedAmount">Amount</lable><br>
        <input type="number" name="investedAmount" min="0" steps="0.0001"><br><br>
        <label for="investingDate">Started from (write in this format DD-MM-YYYY)</label></br>
        <input type="text" name="investingDate" placeholder="DD-MM-YYYY"></br></br>
        <button type="submit">Submit</button>

    </form>
    <script>
        const showBtn = document.getElementById('show-form-btn');
        const form = document.getElementById('add-form');
    
        showBtn.addEventListener('click', () => {
          form.classList.toggle('hidden');
        });
    </script>
</body>
