<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BM: Login</title>
</head>
<body>
    <h1>This is login page</h1>
    <div>
        <form action="/home" method="get">
            <button type="submit" class="home">Home</button>
        </form>
    </div>
    <div>
        <form action="/register" method="get">
            <button type="submit" class="home">Sign up/Register</button>
        </form>
    </div>
</body>
</html>