<% layout("/layouts/boilerplate") %>
<body>
    <h1>See your overall act in another currency</h1>
    <div>
        <form action="/" method="get">
            <button type="submit" class="home">Home</button>
        </form>
    </div>
</body>
