<% layout("/layouts/boilerplate") %>
<body>
    <h1>User can set timer on sending money or paying subscription or tracking subscription</h1>
    <div>
        <form action="/" method="get">
            <button type="submit" class="home">Home</button>
        </form>
    </div>
</body>
