<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BM: register</title>
</head>
<body>
    <h1>User registrations</h1>
    <form action="/home" method="get">
        <button type="submit" class="home">Home</button>
    </form>
</body>
</html>