<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BM: register</title>
</head>
<body>
    <h1>User registrations</h1>
    <form action="/register" method="post">
        <label for="username">Username:</label></br>
        <input type="text" name="username"></br></br>

        <label for="email">Email:</label></br>
        <input name="email" placeholder="Enter your mail"></br></br>

        <label for="password">Password</label></br>
        <input name="password" type="password" placeholder="Enter your password"></br></br>

        <label for="confirmPassword">Confirm Password</label></br>
        <input name="confirmPassword" type="password" placeholder="Enter your password"></br></br>

        <label for="phoneNumber">Phone Number:</label></br>
        <input name="phoneNumber" placeholder="Enter your phone number"></br></br>

        <button type="submit" class="signup">Sign Up</button>

    </form>
</body>
</html>