<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BM: Report</title>
</head>
<body>
    <h1>User's post reports to the admins</h1>
    <p>Basically sends reports to admin panel through mail or message</p>
    <div>
        <form action="/home" method="get">
            <button type="submit" class="home">Home</button>
        </form>
    </div>
</body>
</html>