<% layout("/layouts/boilerplate") %>
<body>
    <h1>This page is for savings goals</h1>
    <div>
        <form action="/" method="get">
            <button type="submit" class="home">Home</button>
        </form>
    </div>
</body>
