<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BM: Subscription</title>
</head>
<body>
    <h1>Users keeps their subscription details here</h1>
    <p>sometimes autorenewal</p>
    <div>
        <form action="/" method="get">
            <button type="submit" class="home">Home</button>
        </form>
    </div>
</body>
</html>