<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/suggestion.css">
<body>
    <h1>Post your suggestion(s) for others</h1>
    <form class="creator" method="post" action="/suggestions/<%=user._id%>/create">
        <label for="postsgs">Post your suggestion:</label></br>
        <textarea name="postsgs" row="10" cols="50" maxlength="200"></textarea></br>
        <button type="submit">Post Suggestion</button>
    </form>
    <hr />
    
    <h3>Suggestions</h3>
    <div class="suggestion">
        <% for(posts of suggestion){%>
            <div id="post">
                <p id="postBody"><%=posts.post%></p>
                By: <%=posts.postBy%>
                (<%=posts.postDate.toString().split(" ")[4]%>)
            </div>
        <%}%>
    </div>
</body>
