<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/transactionHst.css">
<body>
    <div class="histoy-page">
        <h3>Monthly Transaction History</h3>
        <table>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Total Amount</th>
            </tr>
            <% let month=['January', "February", 'March', 'April', 'May', 'June',
            "July", "August", "September", "October", "November", "December"]; %>
            <%for(History of histories){%>
                <tr>
                    <td><%=History.year%></td>
                    <td><%=month[History.month-1]%></td>
                    <td><%=History.total%></td>
                </tr>
            <%}%>
        </table>
        <hr />
        <div class="transaction">
            <a href="/transaction">Transaction</a><br>
        </div>
        <div class="recurringTransaction">
            <a href="/recurringtransaction">Recurring TRNX</a>  
        </div>
        
    </div>
</body>
